extends layout
block content
 h1= title
 h2 Avtomobilni o'yxatga olgan Adminstrator :#{names.name} 
 .container
    .row
       .col-8
            .product 
                .product_imgs
                    img(src= '/'+db.photo , alt="" style="object-fit: contain;object-position: 50% 50%;min-height:60px")
                    p.saleing= db.sale
                        | %
                h2= db.title
                .price
                    p= db.price
                     | $
                    p.sale_price= db.price - (db.price * db.sale / 100) 
                    | SALE
                .product_bottom
                    p.like 
                        span= db.like
                    p.date=  db.dateNow.toDateString()
                    p.category= db.category
            if user
             if user.id ==  names.id
                a(href="/productd/edit/"+db.id class='btn btn-success mt-5') Avtomobil Parametrlarini o'zgartirish