extends layout
block content
 include banner
 .container
    .row
      each db in datas
       .col-4
            .product 
                .product_img(cardId = '/cards/'+db.id)
                    img(src='/'+db.photo , alt="")
                    p.saleing= db.sale
                        | %
                h2= db.title
                if user 
                    a.btn.btn-success(href=`cards/${db._id}`) ko'rish 
                .price
                    p= db.price
                     | $
                    p.sale_price= db.price - (db.price * db.sale / 100) 
                    | SALE
                .product_bottom
                    p.like
                        if user
                         span(class="clickLike btn btn-primary text-light mr-3 " likeId = '/'+db.id) sotildi:
                        span(class="wirteLike bg-success text-dark")= db.like
                    p.date=  db.dateNow.toDateString()
                    p.category= db.category
    .pages
       if pages
        -for(var i = 1; i <= pages; i++) 
            a(href="/?page="+i)=  i 